<template>
  <div id="app">
    <Menu></Menu>
    <Content></Content>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Content from './components/Content.vue'
//import db from './firebaseinit'

export default {
  data () {
    return {
      //feeds: [],
    }
  },
  name: 'app',
  components: {
    Menu,
    Content
  },
  created () {
    //var feedsRef = db.collection('feeds');
    //feedsRef.get()
    //.then(snapshot => {
    //  snapshot.forEach(doc => {
        //console.log(doc.id, '=>', doc.data());
    //    this.feeds = doc.id
    //  });
    //})
    //.catch(err => {
    //  alert('Error getting documents', err);
    //});
  },
}
</script>

<style>
@import url(https://cdn.jsdelivr.net/npm/vuetify@1.1.1/dist/vuetify.min.css);

</style>
