<template>
  <div id="app">
    <Menu></Menu>
    <Content></Content>
  </div>
</template>

<script>
import Menu from './Menu.vue'
import Content from './Content.vue'
export default {
  data () {
    return {
    }
  },
  name: 'app',
  components: {
    Menu,
    Content
  },
  created () {
  },
}
</script>

<style>
@import url(https://cdn.jsdelivr.net/npm/vuetify@1.1.1/dist/vuetify.min.css);

</style>
