<template>
  <div id="app">
    <v-app id="inspire">
      
      <div class="text-xs-center">

        <v-btn
          slot="activator"
          color="red lighten-2"
          dark
          @click="New_feed"
        >
          New Feeds
        </v-btn>

        <v-dialog
          v-model="dialog"
          width="500"
        >
          <v-card>
            <v-card-title
              class="headline grey lighten-2"
              primary-title
            >
              {{feeds_dialog_title}}
            </v-card-title>

            <v-card-text>
              <v-form v-model="valid">
                <v-text-field
                  v-model="title"
                  :rules="titleRules"
                  :counter="85"
                  label="Title"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="author"
                  :rules="authorRules"
                  label="Author"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="path"
                  :rules="pathRules"
                  label="Path"
                  required
                ></v-text-field>
                
                
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="date"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="date"
                    label="Date"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-form>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                flat
                @click="Store_data"
              >
                {{feeds_dialog_button}}
              </v-btn>
              
              <v-btn
                color="primary"
                flat
                @click="dialog = false"
              >
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
      <v-expansion-panel popout>
        <v-expansion-panel-content v-for="(item, i) in feeds" :key="i" hide-actions>
          <v-layout slot="header">
            <v-flex>
              <strong v-html="item.title"></strong>
            </v-flex>

            <v-flex>
              <strong v-html="item.date"></strong>
            </v-flex>

            <v-flex>
              <strong v-html="item.path"></strong>
            </v-flex>

            <v-flex>
              <strong v-html="item.author"></strong>
            </v-flex>

            <v-flex>
              <v-btn color="green" @click="Edit_data(feeds[i])">Edit</v-btn>
              <v-btn color="red" @click="Delete_data(item.id)">Delete</v-btn>
            </v-flex>

          </v-layout>
        </v-expansion-panel-content>
      </v-expansion-panel>

    </v-app>
  </div>
  
  
</template>


<script>
import firebase from "firebase/app"
import 'firebase/firestore'

  export default {
    data:function () {
      return {
        feeds: [],
        modal: false,
        dialog: false,
        valid: false,
        feeds_dialog_title:'',
        feeds_dialog_button:'',
        feeds_button_event:false,
        id:'',
        title: '',
        titleRules: [
          v => !!v || 'ຫົວຂໍ້ຕ້ອງບໍ່ວ່າງ',
          v => v.length >=4 || 'ຫັວຂໍ້ຕ້ອງຫຼາຍກ່ອນ 4 ອັກສສອນ'
        ],
        author: '',
        authorRules: [
          v => !!v || 'ກະລຸນາປ້ອນ author',
          v => v.length >=4 || 'author ຕ້ອງຫຼາຍກ່ອນ 4 ອັກສສອນ'
        ],
        path: '',
        pathRules: [
          v => !!v || 'ກະລຸນາປ້ອນ path',
          v => v.length >=4 || 'path ຕ້ອງຫຼາຍກ່ອນ 4 ອັກສສອນ'
        ],
        date: null,
      }
    },
    created: function () {
      this.show_data2()
    },
    updated(){
    },
    computed: {
      
    },

    
    methods:{
      show_data(){
        var moment = require('moment')
        const firestore = firebase.firestore()
        const settings = {/* your settings... */ timestampsInSnapshots: true}
        firestore.settings(settings);
        var feedsRef = firestore.collection('feeds')
        feedsRef.get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            //console.log(doc.id, '=>', doc.data());
            //this.feeds = doc.data()
            const timestamp = doc.get('date')
            const date = moment( timestamp.toDate() ).format('DD-MM-YYYY')

            const _data = { title:doc.data().title, author:doc.data().author, date:date, path:doc.data().path }
    
            this.feeds.push(_data)
          });
        })
        .catch(err => {
          alert('Error getting documents', err)
        });
      },
      show_data2(){
        const _this = this
        var moment = require('moment')
        const firestore = firebase.firestore()
        const settings = {/* your settings... */ timestampsInSnapshots: true}
        firestore.settings(settings);
        var feedsRef = firestore.collection('feeds')
        feedsRef.onSnapshot(function(querySnapshot) {
            _this.feeds = []//reset array
            querySnapshot.forEach(function(doc) {
                const timestamp = doc.get('date')
                const date = moment( timestamp.toDate() ).format('DD-MM-YYYY')
                const _data = { title:doc.data().title, author:doc.data().author, date:date, path:doc.data().path,id:doc.id }
                _this.feeds.push(_data)//set data to array
            })
        })
      },
      New_feed(){
        const _this = this
        _this.feeds_button_event = true
        _this.feeds_dialog_button = 'Add'
        _this.feeds_dialog_title = 'New Feed'
        _this.dialog = true
        _this.title = ''
        _this.author = ''
        _this.path = ''
        _this.date = ''
      },
      Add_data(){
        let data = []
        const _this = this
        data = {
          title:_this.title,
          author:_this.author,
          path:_this.path,
          date:new Date(_this.date)
        }

        const firestore = firebase.firestore()
        const settings = {/* your settings... */ timestampsInSnapshots: true}
        firestore.settings(settings);
        var feedsRef = firestore.collection('feeds')
        
        // Add a new document with a generated id.
        feedsRef.add(data)
        
      },
      Store_data(){
        const _this = this
        if(_this.feeds_button_event == true){
          //add
          _this.Add_data()
        }else{
          //edit
          _this.Update_data()
        }
      },
      Edit_data(feeds){
        const _this = this
        //alert(feeds.id)
        _this.id = feeds.id
        _this.title = feeds.title
        _this.author = feeds.author
        _this.path = feeds.path
        _this.date = feeds.date
        _this.dialog = true
        _this.feeds_button_event = false
        _this.feeds_dialog_button = 'Update'
        _this.feeds_dialog_title = 'Update Feed'
      },
      Update_data(){
        let data = []
        const _this = this
        data = {
          title:_this.title,
          author:_this.author,
          path:_this.path,
          date:new Date(_this.date)
        }

        const firestore = firebase.firestore()
        const settings = {/* your settings... */ timestampsInSnapshots: true}
        firestore.settings(settings);
        var feedsRef = firestore.collection('feeds').doc(_this.id)
        
        // Update the document.
        feedsRef.update(data)
      },
      Delete_data(id){
        if (confirm('You Can Delete Data "Yes" or "NO"')) {
          // Delete it!
          const firestore = firebase.firestore()
          firestore.collection('feeds').doc(id).delete()
        }
      }
    }
  }
</script>