<template>
  <!-- App -->
  <f7-app :params="f7params">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left reveal theme-dark>
      <f7-view url="/panel-left/"></f7-view>
    </f7-panel>

    <!-- Right Panel -->
    <f7-panel right cover theme-dark>
      <f7-view url="/panel-right/"></f7-view>
    </f7-panel>

    <!-- Main View -->
    <f7-view id="main-view" url="/" main></f7-view>

    <!-- Popup -->
    <f7-popup id="popup">
      <f7-view>
        <f7-page>
          <f7-navbar title="Popup">
            <f7-nav-right>
              <f7-link popup-close>Close</f7-link>
            </f7-nav-right>
          </f7-navbar>
          <f7-block>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam. Voluptates omnis, a inventore atque ratione aliquam. Omnis iusto nemo quos ullam obcaecati, quod.</f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>
    
    <!-- Login Screen -->
    <f7-login-screen id="login-screen" opened>
      <f7-view>
        <f7-page login-screen>
          <div id="prin80mm" class="box">
            <h1>Printd example</h1>

            <p>
              This is an <b>example!</b> using a <a href="https://vuejs.org/" target="_blank">VueJS</a> <em>component</em>.
            </p>
          
            <a href="https://vuejs.org/" target="_blank"><img src="https://vuejs.org/images/logo.png" width="140" height="140"></a>
            <div>
              <canvas id="canvasks" v-insert-message="exampleContent"></canvas>
            </div>
            
            <pre>
              import Printd from 'printd'

              const p: Printd = new Printd()

              p.print(this.$el, `.my_style { color: blue; }`)





              ສະບາຍດີ
              p.print(this.$el, `.my_style { color: blue; }`)
            </pre>
          </div>
          <button @click="print">Print this component</button>
          <f7-login-screen-title>Login</f7-login-screen-title>
          <f7-list form>
            <f7-list-item>
              <f7-label>Username</f7-label>
              <f7-input name="username" placeholder="Username" type="text"></f7-input>
            </f7-list-item>
            <f7-list-item>
              <f7-label>Password</f7-label>
              <f7-input name="password" type="password" placeholder="Password"></f7-input>
            </f7-list-item>
          </f7-list>
          <f7-list>
            <f7-list-button title="Sign In" login-screen-close></f7-list-button>
            <f7-block-footer>
              <p>Click Sign In to close Login Screen</p>
            </f7-block-footer>
          </f7-list>
        </f7-page>
      </f7-view>
    </f7-login-screen>

  </f7-app>
</template>

<script>
// Import Routes
import routes from './routes.js'
// import store from './store';
import Printd from 'printd'
import 'print-js'

export default {
  data() {
    return {
      // Framework7 parameters here
      f7params: {
        id: 'io.framework7.testapp', // App bundle ID
        name: 'Framework7', // App name
        theme: 'auto', // Automatic theme detection
        // App routes
        routes: routes,
      },
      "exampleContent": "This is TEXT ສະບາຍດີ"
    }
  },
  created() {
    
  },
  mounted() {
    
    
  },
  updated() {
    
  },
  directives: {
    insertMessage: function(canvasElement, binding) {
      // Get canvas context
      var ctx = canvasElement.getContext("2d");
      // Clear the canvas
      ctx.clearRect(0, 0, 300, 150);
      // Insert stuff into canvas
      ctx.fillStyle = "black";
      ctx.font = "20px Georgia";
      ctx.fillText(binding.value, 10, 50);
    }
  },
  methods:{
    print1 () {
      this.d = new Printd()
      // Print dialog events (v0.0.9+)
      const { contentWindow } = this.d.getIFrame()

      contentWindow.addEventListener(
        'beforeprint', () => console.log('before print event!')
      )
      contentWindow.addEventListener(
        'afterprint', () => console.log('after print event!')
      )
      const cssText = `
        @media print {
          @page 
          {
            size:80mm;
            margin: 0mm;  /* this affects the margin in the printer settings */
          }
          body { margin: 0 0 0 0;}
        }
        .box {
          font-family: sans-serif;
          width: 100%;
          border: solid 1px #ccc;
          text-align: center;
        }
      `
      this.d.print( document.getElementById('prin80mm'), cssText)
      
      //printJS('prin80mm', 'html')
    },
    print () {
      const dataUrl = document.getElementById('canvasks').toDataURL(); 

      let windowContent = '<!DOCTYPE html>';
      windowContent += '<html>';
      windowContent += '<head><title>Print canvas</title></head>';
      windowContent += '<body>';
      windowContent += '<img src="' + dataUrl + '">';
      windowContent += '</body>';
      windowContent += '</html>';

      const printWin = window.open('', '', 'width=' + screen.availWidth + ',height=' + screen.availHeight);
      printWin.document.open();
      printWin.document.write(windowContent); 

      printWin.document.addEventListener('load', function() {
          printWin.focus();
          printWin.print();
          printWin.document.close();
          printWin.close();            
      }, true);
    }
  }
}
</script>

<style>
  .box {
    font-family: sans-serif;
    max-width: 600px;
    border: solid 1px #ccc;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
  }
</style>
